@font-face {
    font-family: 'Montserrat';
    src: url('./assets/fonts/montserrat.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    src: url('./assets/fonts/montserrat-bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./assets/fonts/montserrat-light.ttf') format('truetype');
    font-weight: light;
}

body {
    font-family: 'Montserrat', 'Open Sans',sans-serif !important;
}

/*MAIN PAGE*/ 

.first-section{
    background-image: url('./assets/img/bg.webp') !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 640px) {
    .first-section {
        /* background-color: #15191E !important; */
        background-image: none !important;
    }
}